    <ul class="nav nav-pills">
        <li class="geoclick-tab" ng-class="{ active:tab.isSet(1) }">
            <a href="" ng-click="tab.setTab(1)">Henvendelser</a>
        </li>
        <li class="geoclick-tab" ng-class="{ active:tab.isSet(2) }">
            <a href="" ng-click="tab.setTab(2)">Graveskader</a>
        </li>
        <li class="geoclick-tab" ng-class="{ active:tab.isSet(3) }">
            <a href="" ng-click="tab.setTab(3)">Påvisninger</a>
        </li>
        <li class="geoclick-tab" ng-class="{ active:tab.isSet(4) }">
            <a href="" ng-click="tab.setTab(4)">GeoRapport</a>
        </li>
        <li class="geoclick-tab" ng-class="{ active:tab.isSet(5) }">
            <a href="" ng-click="tab.setTab(5)">Innkommende henvendelser</a>
        </li>
    </ul>

