<section>
    <div ng-show="tab.isSet(1)" ng-controller="InquiriesCtrl" ng-include="'Views/InquiriesTab.html'"></div>
    <div ng-show="tab.isSet(2)" ng-controller="DamagesCtrl" ng-include="'Views/DamagesTab.html'"></div>
    <div ng-show="tab.isSet(3)" ng-controller="CableDetectionsCtrl" ng-include="'Views/CableDetectionsTab.html'"></div>
    <div ng-show="tab.isSet(4)" ng-controller="ReportCtrl" ng-include="'Views/ReportTab.html'"></div>
    <div ng-show="tab.isSet(5)" ng-controller="IncomingInquiriesCtrl" ng-include="'Views/IncomingInquiriesTab.html'"></div>
</section>
